@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body{
   font-family: Roboto, sans-serif;
   background-color: black;
}
#basic-grid{
   display: grid;
   grid-template-rows: 1fr 4fr;
   grid-template-columns: 1fr 2fr 2fr 1.5fr;
   background-color: red;
   width: 100%;
   height: 100vh;
   margin: auto;
}
#header{
   grid-area: 1/2/1/5;
   background-color: #fff;
   display: grid;
   grid-template-columns: 2fr 1fr;
   grid-template-rows: 1fr 2fr;
   padding: 0vh 10vh 0vh 3vh;
}
#info{
   grid-area: 2/2/4/4;
   background-color: blue;
   display: grid;
   grid-template-rows: 8% 85%;
   grid-template-columns: 100%;
}
#rightbar{
   grid-area: 2/4/4/4;
   background-color: blueviolet;
   gap: 20%;
}
#sidebar{
   grid-area: 1/1/4/1;
   background-color: #1992D4;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   padding-bottom: 40vh;
   color: white;
   font-weight: bolder;
}
svg{
   fill: white;
   width: 1.5vw;
   height: 1.5vw;
}
.sidebar-menu{
   display: flex;
   align-items: center;
   gap: 1vw;
   font-size: 18px;
   font-weight: bold;
   margin-left: 1vw;
}
#sidebar > h2{
   display: flex;
   gap: 0.5vw;
   align-items: center;
   font-size: 30px;
}
h2>svg{
   width: 3vw;
   height: 3vw;
}